:root{
    --pure: #000;
    --txt: #fff;
    --lcolor: rgb(40,40,40);
    --color: rgb(30,30,30);
    --dcolor: rgb(20,20,20);
    --ddcolor: rgb(7,7,7);

    --laccent: rgb(190,200,250);
    --accent: rgb(110,130,255);
}

.lightM{
    --pure: #fff;
    --txt: #000;
    --lcolor: rgb(255,255,255);
    --color: rgb(240,240,245);
    --dcolor: rgb(235,235,235);
    --ddcolor: rgb(190,190,190);

    --laccent: rgb(20,20,30);
    --accent: rgb(110,130,255)
}



html{
    overflow-X: hidden;
    height: auto;
}
body{
    margin: 0;
    background: var(--lcolor);
    color: var(--txt);
}
input{
    display: none;
}


@media (min-width: 992px){
    #mob{
        display: none;
        font-size: 1px;
    }
    .formob{
        display: none;
    }
    .bar{
        width: 100%;
        position: sticky;
        top: 0;
        transition-duration: .3s;
        -webkit-transition-duration: 0.3s;
    }
    .bar h1{
        background: var(--dcolor);
        color: var(--txt);
        font-size: clamp(1.5rem, 2.4dvw, 2rem);
        width: clamp(145px, 14.5dvw, 190px);
        margin-bottom: 0;
        margin-top: 0;
        padding-left: clamp(5px, 3dvw, 10px);
        transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        -moz-transition: all .5s;
    }
    .bar h1:hover{
        text-shadow: 1px 1px var(--pure);
        color: var(--laccent);
        cursor: pointer;
    }
    #big-margin👍{
        margin-left: clamp(70px, 6dvw, 100px);
        margin-right: clamp(70px, 6dvw, 100px);
    }
    .bar .stuf{
        background: var(--dcolor);
        padding: 0;
        border-bottom: 2px solid var(--accent);
        width: 100%;
        display: inline-flex;
    }
    .stuf a{
        color: var(--txt);
        margin-left: clamp(10px, 5%, 20px);
        font-size: clamp(1.2rem, 2.5dvw, 1.4rem);
        margin-top: 3px;
        cursor: pointer;
        vertical-align: center;
    }
    .stuf a:hover{
        color: var(--laccent);
        transition-duration: .3s;
        -webkit-transition-duration: .3s;
        -o-transition-duration: .3s;
        -moz-transition-duration: .3s;
    }
    #SwitchImg{
        display: block;
        cursor: pointer;
        margin-left: 12%;
        width: clamp(40px, 4dvw, 50px);
        height: clamp(20px, 2dvw, 25px);
        background: var(--pure);
        border-radius: 16px;
        border: 2px solid var(--txt);
    }
    #SwitchImg:after{
        content: "";
        display: block;
        width: clamp(20px, 2dvw, 25px);
        height: clamp(20px, 2dvw, 25px);
        margin-top: 0;
        background: var(--txt);
        border-radius: 50%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        -moz-transition: 0.5s;
    }
    #LightSwitch:checked ~ #SwitchImg:after{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -moz-transform: translateX(100%);
    }
    

    #bartog:checked ~ .opt{
        font-size: clamp(1rem, 2dvw, 1.3rem);
        height: 96.7dvh;
        width: clamp(170px, 14.2dvw, 210px);
        overflow: hidden;
        transition-property: width, height, font-size;
        transition-duration: 1s, .6s, .2s;
        transition-delay: .45s, 0s, .5s;
        -webkit-transition-property: width, height, font-size;
        -webkit-transition-duration: 1s, .6s, .2s;
        -webkit-transition-delay: .45s, 0s, .5s;
        -o-transition-property: width, height, font-size;
        -o-transition-duration: 1s, .6s, .2s;
        -o-transition-delay: .45s, 0s, .5s;
        -moz-transition-property: width, height, font-size;
        -moz-transition-duration: 1s, .6s, .2s;
        -moz-transition-delay: .45s, 0s, .5s;
    }
    #bartog:checked ~ .opt p1{
        color: var(--txt);
        font-size: clamp(.8rem, 1.1dvw, 1.15rem);
        align-self: center;
        border-bottom: 1px dashed #fff;
        margin-top: clamp(5px, .4dvw, 10px);
        margin-bottom: clamp(20px, 3dvw, 35px);
        opacity: 1;
        transition-property: font-size, margin-bottom;
        transition-duration: .2s, .5s;
        transition-delay: .5s, 1s;
        -webkit-transition-property: font-size, margin-bottom;
        -webkit-transition-duration: .2s, .5s;
        -webkit-transition-delay: .5s, 1s;
        -o-transition-property: font-size, margin-bottom;
        -o-transition-duration: .2s, .5s;
        -o-transition-delay: .5s, 1s;
        -moz-transition-property: font-size, margin-bottom;
        -moz-transition-duration: .2s, .5s;
        -moz-transition-delay: .5s, 1s;
    }


    .opt{
        height: 0;
        font-size: 0px;
        width: clamp(4px, 2%, 12px);
        background: linear-gradient(to bottom, var(--dcolor),var(--dcolor),var(--pure));
        opacity: .96;
        flex-direction: column;
        display: flex;
        overflow: hidden;
        transition-property: width, height, font-size;
        transition-duration: .7s, .6s, 0s;
        transition-delay: 0s, .5s, .3s;
        -webkit-transition-property: width, height, font-size;
        -webkit-transition-duration: .7s, .6s, 0s;
        -webkit-transition-delay: 0s, .5s, .3s;
        -o-transition-property: width, height, font-size;
        -o-transition-duration: .7s, .6s, 0s;
        -o-transition-delay: 0s, .5s, .3s;
        -moz-transition-property: width, height, font-size;
        -moz-transition-duration: .7s, .6s, 0s;
        -moz-transition-delay: 0s, .5s, .3s;
    }


    #bartog:checked ~ .opt:hover{
        width: clamp(210px, 15.5dvw, 255px);
        transition-duration: .3s;
        -webkit-transition-duration: all 0.3s;
    }
    .opt a{
        color: var(--txt);
        text-decoration: none;
        white-space: nowrap;
        margin-bottom: clamp(3px, .3dvw, 7px);
        margin-top: clamp(3px, .3dvw, 7px);
        margin-left: 0;
        padding-left: clamp(3px, .3dvw, 7px);
        transition-duration: .3s;
        -webkit-transition-duration: 0.3s;
    }
    .opt a:hover{
        padding-left: clamp(2px, 1dvw, 8px);
        border-bottom: 3px solid var(--color);
        border-top: 3px solid var(--color);
        cursor: pointer;
    }
    .opt a:visited{
        text-decoration: none;
        color: var(--txt);
    }
    .opt p1{
        color: var(--txt);
        font-size: 0;
        white-space: nowrap;
        cursor: default;
        transition-property: font-size, margin-bottom;
        transition-duration: 0s, .3s;
        transition-delay: .3s, .8s;
        -webkit-transition-property: font-size, margin-bottom;
        -webkit-transition-duration: 0s, .3s;
        -webkit-transition-delay: .3s, .8s;
        -o-transition-property: font-size, margin-bottom;
        -o-transition-duration: 0s, .3s;
        -o-transition-delay: .3s, .8s;
        -moz-transition-property: font-size, margin-bottom;
        -moz-transition-duration: 0s, .3s;
        -moz-transition-delay: .3s, .8s;
    }


    footer{
        background: var(--color);
        display: grid;
    }
}






@media (max-width: 991px){
    #desk{
        display: none;
        font-size: 1px;
    }

    .opt{
        display: none;
    }

    .bar{
        opacity: 0.9;
        width: 100%;
        border-bottom-right-radius: 10%;
        position: sticky;
        top: 0;
        transition-duration: .3s;
        -webkit-transition-duration: 0.3s;
    }
    .bar h1{
        background: var(--color);
        color: var(--txt);
        display: flex;
        overflow: visible;
        font-size: clamp(1.3rem, 2.2dvw, 1.8rem);
        height: clamp(2.5rem, 3.8dvw, 4.8rem);
        width: 35px;
        line-height: .9;
        opacity: .9;
        padding: 4px;
        margin-bottom: 0;
        margin-top: 0;
        float: right;
        transform: translateY(600%);
        transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        -moz-transition: all .5s;
    }
    .stuf > a{
        display: none;
    }

    }
    #mobtog:checked ~ .formob{
        height: 105dvh;
        overflow: hidden;
        transition: height .7s;
        -webkit-transition: height .7s;
        -o-transition: height .7s;
        -moz-transition: height .7s;
    }

    .formob{
        background: linear-gradient(to bottom, var(--color),var(--dcolor),#000);
        justify-content: center;
        font-size: clamp(1rem, 2dvw, 1.3rem);
        height: 0;
        width: clamp(200px, 30dvw, 275px);
        transform: translate(25dvw, -5%);
        overflow: hidden;
        flex-direction: column;
        display: flex;
        transition: height .7s;
        -webkit-transition: height .7s;
        -o-transition: height .7s;
        -moz-transition: height .7s;
    }

    .formob a{
        color: var(--txt);
        text-decoration: none;
        text-align: center;
        font-size: clamp(1.15rem, 2.5dvw, 1.4rem);
        height: clamp(45px, 10.5dvw, 55px);
        line-height: 2.5;
        margin-top: 5%;
        margin-bottom: 5%;
        background: rgb(42,42,42);
        border-top: 2px solid var(--lcolor);
        border-bottom: 2px solid var(--lcolor);
    }
    .formob a:visited{
        text-decoration: none;
        color: var(--txt);
    }
}


